[Unit]
  Description=Connect to NAS at 192.168.1.101
  Requires=network-online.target
  After=network-online.service

[Mount]
  What=//192.168.1.101/public
  Where=/media/nas
  Options=username=core,password=PLACEHOLDER_PASSWORD,file_mode=777,dir_mode=777,uid=999,gid=990,rw
  Type=cifs

[Install]
  WantedBy=multi-user.target
