# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv
.local

# pre-commit
.pre-commit-config.yaml
.aider*
.env

.terraform
terraform.tfstate
terraform.tfstate.backup

containers/plex/media-nas.mount

# Ignore container IP files
containers/*/ip
