[Unit]
  Description=Connect to NAS at 192.168.1.101
  Requires=network-online.target
  After=network-online.service

[Mount]
  What=//192.168.1.101/personal-drive
  Where=/media/nas
  Options=username=container-proxy,password={{ nas_password }},file_mode=777,dir_mode=777
  Type=cifs

[Install]
  WantedBy=multi-user.target
